.status-dropdown-wrapper {
  position: relative;
  display: flex;
  font-family: "Inter";
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.status-dropdown-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0.4rem 4rem;
  background-color: transparent;
  cursor: pointer;
}

.status-label {
  position: absolute;
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.3rem;
  text-wrap-mode: nowrap;
  z-index: 5;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.15s ease 0.15s, visibility 0s linear 0.15s;
}

.status-icon {
  width: clamp(2rem, 8vw, 5rem);
  height: auto;
  margin-left: 0;
  transform: scaleX(2.7) scaleY(1.3);
  transition: transform 0.5s ease;
  transform-origin: top;
}

.status-dropdown-menu {
  position: absolute;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding-top: 20px;

  opacity:0;
  pointer-events: none;
  transform-origin: center right;
  transition: transform 0.5s ease;
}

.dropdown-background {
  position: absolute;
  width: auto;
  z-index: 0;
  pointer-events: none;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(10rem, 40vw, 15rem);
}

.status-dropdown-item {
  padding: 5px 8px;
  cursor: pointer;
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: 400;
}

.status-dropdown-item:hover {
  font-weight: 500;
  color: whitesmoke;
}

.status-dropdown-item.selected {
  font-weight: 700;
  color: whitesmoke;
}

.status-dropdown-wrapper.open .status-dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(25%) scale(1);
}

.status-dropdown-wrapper.open .status-icon {
  pointer-events: auto;
  transform: scaleX(3) scaleY(3.5) translateX(0%)
}

.status-dropdown-wrapper.open .status-label {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0s linear 0.2s;
}


@media (max-width: 600px) {
  .status-dropdown-wrapper.open .status-icon {
    transform: scaleX(2) scaleY(2.4);
  }

  .status-label {
    font-size: 1rem;
  }

  .status-dropdown-item {
    font-size: 1rem;
  }

  .status-dropdown-menu {
    transform-origin: top center;
    left: 50%;
    transform: translateX(-50%);
  }
}


