Container
.overlay-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.logo-container {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  width: 30vw;
  text-align: center;
}

.logo-img {
  width: 100vw;
  height: auto;
  z-index: 15;
}

.layers-container{
  overflow: hidden;
}

.layer-back {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: auto;
  z-index: 1;
  overflow: hidden;
}

.layer-middle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 77%;
  height: auto;
  z-index: 2;
  transition: transform 0.7s ease;
}


.front-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.front-button-svg {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.7s ease;
} 

.front-button-text {
  position: absolute;
  bottom: clamp(5vh, 18rem);
  width: 100%;
  text-align: center;
  color: #222;
  font-size: 2rem;
  font-weight: 700;
  pointer-events: none;
  z-index: 10;
  transition: transform 0.5s ease;
}


.front-button:hover:not(.clicked) .front-button-svg {
  transform: scaleX(1.1);
}

.front-button:hover:not(.clicked) .front-button-text {
  transform: translateY(-10px);
}

.layers-wrapper:hover:not(.clicked) .layer-back {
  transform: translateX(-50%) translateY(0%);
}

.layers-wrapper:hover:not(.clicked) .layer-middle {
  transform: translateX(-50%) translateY(40%) scaleX(0.65);
}

.clicked .front-button-svg {
  transform: scale(10.2);
  transition: transform 0.5s ease;
}

.clicked .front-button-text {
  display: none;
}
