.nav-bar-buttons{
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 10px;
  padding-left: 5vw;
  z-index: 100;
  left:0;
}

.button-wrapper {
  position: relative;
  display: inline-block;
  width: 10rem;
  margin-top: 2rem;
}

.button-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay-btn {
  position: relative;
  background: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.1rem;
}
