@import './styles/font.css';

:root {
  font-family: "GeneralSans", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222222;

  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  background-image: url('/background-pc.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.center-layout {
  max-width: 900px;
  margin: 0 auto;
  padding: 0rem;   
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

button{
  font-family: "GeneralSans";
  border-radius: 8px;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

button:hover, .close-icon:hover {
  transform: scale(1.02);
}

.login-btn, .addBooks-btn{
  background-color: #620a0aec;
  color: #ffffffdd;
}

ul{
  list-style: none;
}

@media (max-width: 480px) {
  .logo {
    width: 120px;
    margin-bottom: 1.5rem;
  }

  button {
    width: 80%;
    padding: 0.5rem 1rem;
  }
}